<p style="color: green"><%= notice %></p>

<div id="blogs">
  <div class="leftcolumn">
    <div class="card">
      <h2>Past blogs</h2>
      <% @blogs.each do |blog| %>
         <p><%= blog.human_readable_date%> - <%= blog.title %></p>
      <% end %>
      <%= link_to "New blog", new_blog_path %>
    </div>
  </div>
  <div class="rightcolumn">
    <% @blogs.each do |blog| %>
      <%= render(partial: 'blog', locals: { blog: blog }) %>
    <% end %>
  </div>
</div>
